<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Push Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="_register_device(options.id)" *ngFor="let options of items" mode="ios">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 20px;">{{options.title}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>